/* Browser does not read scss so we have to compile them to regular css */
/* Install npm install node - sass */

/* Steps
 * npm init
 * npm install node-sass (node i node-sass) is the pretty much same thing
 */

//Hint to clear terminal ctrl + l is enough :)

/* To run sass use npm run sass, it will go to the package.json -> scripts: sass
 * sass: "node-sass -w scss/ -o dist/css/ --recursive"
 * -w = watch scss file and / -o = put the compiled css to the dist/css/ --recursive means do this operations recursive manner
*/

/* _config.scss is a partial that means we can put our variables and functions(mixins) in it */
/* to call this file we have just write its name */

@import "config";
@import "menu";

* {
  box-sizing: border-box; /* does not affect height and weight, just in the box */
}

body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; /* To make it more thin or bold */

  &.lg-heading {
    font-size: 6rem; /* rem means 16 * 6 */
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(
      lighten($primary-color, 2),
      0.5
    ); /* first parameter original color, how much want to make it lighther */
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed; /* header will always in the top -> menu button */
  z-index: 2; /* how an element is close to you -> make it on the other element */
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;
  }

  a {
    padding: 0.4rem;

    &:hover {
      color: $secondary-color;
      @include easeOut();
    }
  }

  &#home {
    overflow: hidden; /* not have scrollbar */
    h1 {
      margin-top: 20vh; /* view port height, you can think that page has 100 different slides about height and this will take 20 of them*/
    }
  }
}
